* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}

.navbar {
    height: 50px;
}

.quem-apoia-title {
    color: #018762;
}



footer {
    background-color: #018762;
    height: 150px; 
}

footer img {
    width: 100vw;
}


section {
    margin: 50px 0;
}