* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

.navbar {
  height: 50px;
}

section {
  margin: 50px 0;
}

.button-lacrei {
  background-color: #018762;
  border: none;
  padding: 8px 15px;
  font-size: 1.06rem;
  line-height: 150% !important;
  box-shadow: rgba(0, 0, 0, 0.2) 4px 4px 4px;
  border-radius: 8px;
  text-align: center;
  font-weight: 700;
  line-height: 150%;
  color: rgb(255, 255, 255);
}

.button-lacrei:hover {
  filter: brightness(1.1);
  background-color: #018762;
}

.button-lacrei:active {
  background-color: #018762 !important;
}

/* nosso-compromisso */
.nosso-compromisso h2 {
  font-size: 30px;
}

.nosso-compromisso h3 {
  font-size: 20px;
}

.icon-pilar {
  font-size: 3rem;
  color: #018762;
}

.nosso-compromisso .icon-pilar {
  color: #fff;
}

.pilar-item {
  margin-bottom: 2rem;
}

.icon-container {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  border: 2px solid #018762;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.nosso-compromisso .icon-container {
  border: 2px solid #fff;
  background-color: #018762;
}

.icon-container:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}

/* Historia */
.section-historia {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  min-height: 460px;
  margin: 48px auto;
  padding: 24px 32px;
  box-sizing: border-box;
  width: 100%;
}

.img-historia {
  aspect-ratio: auto 1324 / 924;
  height: 462px;
  width: 662px;
  border-radius: 8px;
  display: block;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  overflow-clip-margin: content-bo;
  overflow-y: clip;
  overflow-x: clip;
}

.div-historia-conteudo {
  border: 1px solid rgb(215, 215, 215);
  border-radius: 8px;
  display: block;
  margin-left: -24px;
  padding: 32px 32px;
  min-height: 415px;
  width: 474px;
  background-color: rgb(255, 255, 255);
  box-sizing: border-box;
}

.div-h2-separador {
  box-sizing: border-box;
  display: block;
  margin: 0px;
  padding: 0px;
}

.h2-historia {
  font-size: 40px;
  color: rgb(31, 31, 31);
  display: block;
  line-height: 48px;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.separador-historia {
  background-color: rgb(1, 135, 98);
  color: rgb(31, 31, 31);
  border-radius: 4px;
  background-size: auto;
  box-sizing: border-box;
  display: block;
  height: 2px;
  width: 160px;
  margin: 12px 250px 8px 0px;
  padding: 0px;
}

.p-historia {
  color: rgb(31, 31, 31);
  display: flex;
  flex-direction: column;
  font-size: 16px;
  margin-bottom: 43px;
  margin-top: 16px;
  padding: 0px;
  row-gap: 8px;
  column-gap: 8px;
  box-sizing: border-box;
  position: relative;
}

.p-historia p {
  color: rgb(81, 81, 81);
  font-size: 16px;
  display: block;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.historia-button {
  align-items: center;
  justify-content: center;
  appearance: auto;
  color: rgb(1, 135, 98);
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(1, 135, 98);
  box-shadow: rgba(0, 0, 0, 0.2) 4px 4px 4px;
  border-radius: 8px;
  display: flex;
  font-size: 18px;
  line-height: 28px;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  text-align: center;
  padding: 10px;
  margin-top: -12px;
  width: 188px;
  height: 48px;
  line-height: 28px;
  row-gap: 16px;
  column-gap: 16px;
}

.historia-button:hover {
  color: #fff;
}

/* Passo-a-passo */

.passo-button {
  /* padding: 10px; */
  margin-top: 40px;
}

.passo-title {
  margin-bottom: 20px;
}

/* quem-apoia */

.quem-apoia {
  background: linear-gradient(to top right, #000 0%, #018762 70%, #66bfa0 100%);
}

.quem-apoia-title {
  color: #fff;
  font-size: 30px;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90px;
  padding: 5px;
}

.card img {
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
}

/* duvidas */

.accordion-button {
  background-color: #f0efef;
}
.accordion-button:not(.collapsed) {
  background-color: #018762;
  color: #fff;
}

.accordion-button:focus {
  box-shadow: none !important;
}

@media (min-width: 768px) {
  .button-lacrei {
    width: 15.5rem;
  }
  .card {
    height: 130px;
  }
}

@media (max-width: 768px) {
  .img-historia {
    display: none;
  }

  .div-historia-conteudo {
    width: 100%;
    margin-left: 0;
  }

  .historia-button {
    width: 100%;
  }
}

/* Formulário Thaís Andrade */
#login {
  background: #f8f9fa;
  font-family: "Nunito", sans-serif;
}

header {
  border-bottom: 1px solid #bebcbc;
  padding: 5px;
  background-color: #ffffff;
}

.color-primary {
  color: #018762;
}

.color-secondary {
  color: #018762;
}

h1 {
  font-family: Nunito, sans-serif;
  font-size: 3rem;
  line-height: 3.625rem;
  margin-bottom: 1rem;
  margin-top: 3rem;
  font-weight: 700;
  color: #018762;
}

.text-login {
  font-family: Nunito, sans-serif;
  color: #515161;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.25rem;
  margin-bottom: 2rem;
}

.button-login {
  border-radius: 8px;
  background-color: #018762;
  color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.2) 4px 4px 4px;
}

.mb-24px {
  margin-bottom: 24px;
}

.button-criar-conta {
  border-radius: 8px;
  border: 2px solid #018762;
  background-color: #ffffffff;
  color: #018762;
  box-shadow: rgba(0, 0, 0, 0.2) 4px 4px 4px;
}

.button-criar-conta:hover {
  border-radius: 8px;
  background-color: #018762;
  color: #fff;
}

.button-login:hover,
.button-default:hover {
  background: rgb(0, 119, 86);
  color: #ffffff;
}

.link-default {
  color: #000;
  cursor: pointer;
}

.link-default:hover {
  color: #018762;
}

.btn,
.form-control {
  height: 48px;
}

.btn-outline-success {
  border-width: 2px;
}

.btn-outline-success:hover i {
  color: #ffffff !important;
}

.btn:focus,
.form-control:focus {
  box-shadow: none;
  border: 2px solid #5cb85c; /* Exemplo: muda a cor da borda para verde em foco */
}
/* Fim Formulário Thaís Andrade */

/*Footer*/

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  color: rgb(31, 31, 31);
  display: block;
  font-size: 16px;
  margin-left: 49px;
  margin-right: 49px;
  max-width: 1196;
  padding: 0px;
}

.footer-bar {
  background-color: #5cb85c;
  box-sizing: border-box;
  color: rgb(31, 31, 31);
  display: flex;
  flex-grow: 1%;
  flex-shrink: 1%;
  font-size: 16px;
  height: 1px;
  margin-bottom: 48px;
  max-width: 1196;
}

.footer-content {
  display: flex;
  height: 244px;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  padding-bottom: 48px;
  position: relative;
  width: 1196px;
}

.footer-content-icons {
  column-gap: 56px;
  display: flex;
  flex-direction: column;
  row-gap: 56px;
}

.footer-icon {
  aspect-ratio: auto 170/ 48;
  box-sizing: border-box;
  cursor: pointer;
  height: 48px;
  margin: 0px;
  padding: 0px;
  width: 170px;
}

.footer-icons {
  display: flex;
  justify-content: space-between;
}

.footer-icons a img {
  cursor: pointer;
  display: flex;
  height: 24px;
  width: 24px;
}

.footer-content ul {
  display: flex;
  column-gap: 16px;
  flex-direction: column;
  list-style: none;
  row-gap: 16px;
}

.footer ul li h2 {
  color: rgb(31, 31, 31);
  display: block;
  font-size: 18px;
  font-weight: 700;
  list-style: none;
  margin-block-end: 8px;
}

.footer ul li a {
  color: rgb(31, 31, 31);
  cursor: pointer;
  display: inline;
  font-size: 16px;
  text-decoration: none;
}

.footer-infos {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-wrap: wrap; /* CORRIGIDO: Adicionada a quebra de linha */
  column-gap: 32px;
  margin-bottom: 24px;
  row-gap: 32px;
  max-width: 1196px;
  margin-left: auto;
  margin-right: auto;
}

.footer-infos-p {
  color: rgb (81, 81, 81);
  display: flex;
  align-items: flex-start;
  column-gap: 8px;
  flex-direction: column;
  font-size: 12px;
  row-gap: 8px;
  width: auto;
}

.footer-infos p {
  display: block;
}

.footer-button {
  height: 48px;
  width: 48px;
}

@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    align-items: center; 
    gap: 32px;
    height: auto;
    width: auto;
  }
      
  .footer-content-icons {
    flex-direction: column;
    align-items: center; 
    width: 100%;
    gap: 24px;
    margin-bottom: 0;
  }

  .footer-icons {
    justify-content: center;
    gap: 24px;
  }
      
  .footer-content ul {
    width: 100%;
    text-align: center;
    gap: 16px;
    padding-left: 0rem;
  }
      
  .footer-infos {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-infos-p {
    align-items: center;
}
}
